<md-toolbar>
    <div class="md-toolbar-tools">
        <md-input-conatiner>
            <input placeholder="enter keyword" ng-model="search.keyword" ng-required>
            </md-input-container>
            <md-input-conatiner>
                <input placeholder="enter location" ng-model="search.location" ng-required="true">
                </md-input-container>
                <md-button md-theme="second" md-colors="::{backgroundColor: 'second-primary-500'}" ng-click="search()">search</md-button>
    </div>
</md-toolbar>
<div layout="row" ng-if="!emptyArray">
    <md-sidenav layout="column" md-component-id="left" md-is-locked-open="true" class="md-sidenav-left md-whiteframe-z2" md-colors="::{backgroundColor: 'second-primary-100'}">
        <md-card ng-repeat="item in business track by $index" md-theme="third" md-theme-watch md-colors="::{backgroundColor: 'default-primary-200'}" ng-click="selectItem($index)">
            <div layout="row">
                <img class="md-card-image" style="width:100px; height:100px;" src={{item.image_url}} alt="">
                <md-card-content layout="column">
                    <span class="md-subhead description">{{item.name}}</span>
                    <span class="md-subhead description">Phone:{{item.phone}}</span>
                    <span calss="md-subhead"><p>Rating: {{item.rating}} / 5</p></span>
                </md-card-content>
            </div>

        </md-card>
        <md-divider md-inset ng-if="!$last"></md-divider>
    </md-sidenav>
    <md-content id="content" md-colors="::{backgroundColor: 'second-primary-300'}" flex>
        <md-card md-theme="default" md-theme-watch md-colors="::{backgroundColor: 'default-primary-800'}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{name}}</span>
                    <span class="md-subhead" style="color: white; ">{{address}}</span>
                      <span class="md-subhead" style="color: white; ">{{city}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media" style="background-image:url({{image}})"></div>
                </md-card-title-media>
            </md-card-title>
            <leaflet id="map" markers="markers" defaults="defaults" center="center"></leaflet>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised" md-colors="::{backgroundColor: 'second-primary'}">Previous</md-button>
                <md-button class="md-raised" md-colors="::{backgroundColor: 'second-primary'}">Next</md-button>
            </md-card-actions>
        </md-card>

    </md-content>
</div>
