<div layout="row">
    <md-sidenav  layout="column" md-component-id="left" md-is-locked-open="true" class="md-sidenav-left md-whiteframe-z2" >

          <header style="display:block; z-index:2">
            <form layout-padding>
              <div layout-gt-xs="column">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Search Term</label>
                <input ng-model="search.keyword" placeholder="Food,Movies etc">
              </md-input-container>

              <md-input-container>
                <label>Location</label>
                <input ng-model="search.location" placeholder="Boston,Chicago etc"/>
              </md-input-container>
              <md-input-container>
          <label>select category  (Active life, Arts and Entertainment, )</label>
          <md-select ng-model="category.value">
            <md-option ng-repeat="category in categoryList track by $index" ng-value="category.value" placeholde="boop" >
              {{category.name}}
            </md-option>
          </md-select>
        </md-input-container>
              <md-button class="md-raised" md-theme="default" md-colors="::{backgroundColor: 'default-primary-500'}" ng-click="search()">search</md-button>
              </div>
            </form>

          </header>

<md-divider></md-divider>
        <div>
          <md-content  style="height:320px;;" md-scroll flex>
            <md-list>
                <md-list-item ng-repeat="item in business track by $index">
                    <md-card md-theme="second" md-theme-watch md-colors="::{backgroundColor: 'second-primary-100'}" ng-click="selectItem($index)">
                        <div layout="row">
                            <img class="md-card-image" style="width:100px; height:100px;" src={{item.image_url}} alt="">
                            <md-card-content layout="column">
                                <span class="md-subhead description">{{item.name}}</span>
                                <span class="md-subhead description">Phone:{{item.phone}}</span>
                                <span calss="md-subhead"><p>Rating: {{item.rating}} / 5</p></span>
                            </md-card-content>
                        </div>
                    </md-card>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
          </md-content>

        </div>


    </md-sidenav>

    <div  flex>
        <md-toolbar></md-toolbar>
        <md-content ng-if="!emptyArray" id="content" md-colors="::{backgroundColor: 'second-primary-300'}">
            <md-card md-theme="default" md-theme-watch md-colors="::{backgroundColor: 'default-primary-800'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{name}}</span>
                        <span class="md-subhead" style="color: white; ">{{address}}</span>
                        <span class="md-subhead" style="color: white; ">{{city}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media" style="background-image:url({{image}})"></div>
                    </md-card-title-media>
                </md-card-title>
                <leaflet id="map" markers="markers" defaults="defaults" center="center"></leaflet>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised" >Previous</md-button>
                    <md-button class="md-raised" >Next</md-button>
                </md-card-actions>
            </md-card>

        </md-content>
    </div>

</div>
